{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

    {% if site_setup.favicon %}
        <link rel="shortcut icon" href="{{ site_setup.favicon.url }}" type="image/png">
    {% endif %}
    
    <title>{{ site_setup.title }}</title>
</head>
<body>
    <div class="blog-wrapper">
        {% if site_setup.show_header %}
            {% include 'blog/partials/header.html' %}
        {% endif %}

        {% block content %}{% endblock content %}

        {% if site_setup.show_pagination %}
            {% include 'blog/partials/pagination.html' %}
        {% endif %}
  
        {% if site_setup.show_footer %}
            {% include 'blog/partials/footer.html' %}
        {% endif %}
    </div>
</body>
</html>